<footer class="footer-center">
    <div>
        <span class="footer-title">KONTAKT</span>

        <div>
            <p>Delivery Pizza</p>
            <p>Römerstr. 37</p>
            <p>93047 Regensburg</p>
        </div>
    </div>
</footer>