<div class="flex flex-grow justify-center items-center">
    <div>
        <h1 class="text-xl text-bold">Danke für dein Bestellung!</h1>
        <p>Wir beginnen nun mit der Zubereitung</p>
    </div>
</div>